.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  padding: 25px 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.loadMore {
  background-color: #fff;
  font-weight: 600;
  color: #000;
  border-radius: 50px;
  padding: 8px 35px;
  cursor: pointer;
}
.loadMore:disabled {
  background-color: #6f6e77;
  color: #1e1d22;
  cursor: not-allowed;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 85%;
  gap: 30px;
  justify-content: center;
}
.fetchingMovies {
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}