.container {
  position: relative;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.loadMore {
  background-color: #fff;
  font-weight: 600;
  color: #000;
  border-radius: 50px;
  padding: 8px 35px;
  cursor: pointer;
}