@use 'src/styles/responsive';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  top: 15px;
  height: max-content;
  margin: 0 auto;

  @include responsive.desktop-md {
    margin-bottom: 50px;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    height: auto;
  }

  @include responsive.screen-sm {
    flex-direction: column;
    gap: 10px;
  }

  select {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1rem;

    @include responsive.desktop-md {
      padding: 7px 15px;
    }
  }

  p {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

.filterBtn {
  background-color: hsl(357, 92%, 47%);
  color: #fff;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(.95);
  }

  @include responsive.desktop-md {
    margin-top: 0;
  }
}

.filterBtn:disabled {
  background-color: hsl(357, 92%, 67%);
  cursor: not-allowed;
}