.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 15px;
  height: max-content;
  margin: 0 auto;

  select {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1rem;
  }

  p {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

.filterBtn {
  background-color: hsl(357, 92%, 47%);
  color: #fff;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(.95);
  }
}

.filterBtn:disabled {
  background-color: hsl(357, 92%, 67%);
  cursor: not-allowed;
}