@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

ul {
  list-style: none;
}

button {
  all: unset
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0 50px;
  margin: 0 auto;


  h2 {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
  }
}